<%- include('./partials/header.ejs') -%>
 <script type="text/javascript" src="https://rawgit.com/131/h264-live-player/master/vendor/dist/http-live-player.js"></script> 

	<div id='dashboard'>
		Water Temp:  <span id='waterTemp'></span><t/>
		Air Temp: <span id='airTemp'></span>
	</div>
	<div id='feed'>
        <canvas id="liveFeed" width="960" height="540"></canvas>
	</div>
<%- include('./partials/footer.ejs') -%>
