<%- include('./partials/header.ejs') -%>
	<div id='dashboard'>
		Water Temp:  <span id='waterTemp'></span><t/>
		Air Temp: <span id='airTemp'></span>
	<input type='button' id='showPicBtn' value='Turtle Picture'/>
	</div>


	<div id='feed'>


    <!-- define the element to hold the canvas -->
     <div id="video-box" />
    <!-- provide WSAvcPlayer -->
    <script type="text/javascript" src="WSAvcPlayer.js" />
    <script type="text/javascript">
      //initialize the player, if useWorker: true, than you must have `/Decoder.js` availible at the root of the domain.
      var wsavc = new WSAvcPlayer.default({useWorker:false}); 
      //append the canvas to the box element, you can style the box element and canvas.
      document.getElementById('video-box').appendChild(wsavc.AvcPlayer.canvas)
      //connect to the websocket
      wsavc.connect("ws://" + document.location.host+":3333");
    </script>   

	</div>
<%- include('./partials/footer.ejs') -%>
