body {
    background-image: linear-gradient(to right, #35383a, #35383a);
    color: white;
}
nav{
    text-align: right;
}

.tempArea.water {
    margin: 1vh 5vw 1vh 5vw;
}

.tempArea.air {
    margin: 1vh 5vw 1vh 5vw;
}

.tempArea {
    width: 40vw;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: left;
}

#feed {
    display: block;
    margin: 0 auto;
}

#liveFeed {
    background-color: transparent;
    display: block;
    border-radius: 40px;
    border-style: solid;
    border-color: silver;
    border-width: 2px;
    overflow: hidden;
    margin: 0 auto;
}

#dashboard {
    display: inline-block;
    width: 50vw;
    float: left;
}
#controls {
    width: 100%;
    text-align: right;
}