html{
background-color: black;
color: white;
}
#dashboard{
background-color: black;
color: white;
}
#feed{
background-color: black;
}
#liveFeed {
 display: block;
 margin: 0 auto;
 background-color: black;
}
#dashboard{
text-align: center;
display: block;
min-width: 90vw;
margin: 0 auto;
}
